.container{
    padding-top:2%;
    width:100%;
}
.form-field{
    padding-top:2%;
}
.to-list{
    width:100%
}

.grow {
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    cursor: pointer;
}
.grow:hover {
    color: #a5b439;
    transform: scale(1.6);
}