<div class="jumbotron" align="center">
    <h1>Other requests</h1>
</div>
<hr>
<div class="row" style="padding-top:3%">
    <div class="col-4" align="center" style="padding-top:1%">
        <h2 >
            <button (click)="CalculateMapReduce()" mat-button style="font-size:1.0em;cursor: pointer;">
                Calculate mapReduce() <i class="fas fa-hand-pointer"></i></button><br>
            <div style="padding-top:4%">{{mapReduceValue}}</div>
        </h2>
    </div>
    <div class="col-4" align="center">
        <h2>
            <input  matInput placeholder="Enter Entity" #Entity required>
            <br>
            <br>
            <input  matInput placeholder="Enter Entity ID" #EntityID required>
            <br>
            <br>
            <button (click)="CalculateCMS(Entity,EntityID)" mat-button style="font-size:1.0em;cursor: pointer;">
                Calculate CMS() <i class="fas fa-hand-pointer"></i></button>
            <div style="padding-top:4%">{{cmsValue}}</div>
        </h2>
    </div>
    <div class="col-4" align="center" style="padding-top:2%;">
        <h2><button mat-button style="font-size:1.0em" (click)="onMyClick()">FIRE EVENT! <i class="fas fa-fire"></i></button></h2>
        <br>
        <div style="padding-top:0.5%;font-size:1.0em;">{{twoWayBindingCounter}} Poke's got already.</div>
        <div style="padding-top:0.5%;font-size:1.0em;">{{twoWayBinding}}</div>
    </div>


</div>