<div style="margin-top:-7%;opacity:50%" *ngIf="isLoaded" class="ng-view" autoscroll="true">
    <div class="container" style="position:center;padding-top: 5%">
        <div class="row">
            <mat-card style="width: 100%;padding-bottom: 50%;">
                <div style="padding: 5%;">
                    <i class="fas fa-id-badge" style="color: #d6d850;font-size:5rem;margin:-1.5% 0 0 -3%;transform: rotate(30deg);  "></i>
                    <mat-toolbar style="margin-top:-2.6%">Hello {{user.firstName != '' ? user.firstName : user.email}}, Welcome to your profile.</mat-toolbar>
                    <hr>
                    <div style="padding: 5%;">
                        <mat-card class="error" *ngIf="error">{{errorMsg}}</mat-card>
                        <form *ngIf="user" (ngSubmit)="updateUser(userForm)" #userForm="ngForm">
                            <mat-form-field class="input-size">
                                <input matInput type="text" [placeholder]="user.firstName" name="firstName" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input matInput type="text" [placeholder]="user.lastName" name="lastName" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input disabled matInput type="text" [placeholder]="user.role" name="role" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input matInput type="text" [placeholder]="user.dob" name="dob" [matDatepicker]="myDatepicker" ngModel>
                                <mat-datepicker-toggle name="dob" matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker name="dob" #myDatepicker></mat-datepicker>
                            </mat-form-field>
                            <br>
                            <button type="submit" [disabled]="userForm.invalid" class="btn create-btn btn-lg"  style="width: 100%">Update User
                            </button>
                        </form>
                        <form *ngIf="user" (ngSubmit)="updatePassword(userForm)" #userForm="ngForm" style="padding-top:2%">
                            <mat-form-field class="input-size">
                                <input matInput type="password" placeholder="New Password" name="password" ngModel>
                            </mat-form-field>
                            <mat-form-field class="input-size">
                                <input matInput type="password" placeholder="RE: Password" name="repassword" ngModel>
                            </mat-form-field>
                            <button type="submit" [disabled]="userForm.invalid" class="btn password btn-lg"  style="width: 100%">Update Password
                            </button>
                        </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>