<br>
<div align="center"><h5 class="mat-subheading-1">Create New Account</h5></div>
<br>
<form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-7">
      <input type="email" class="form-control mat-body-1" placeholder="Email" name="registerEmail" ngModel required>
    </div>
    <!--<div class="form-group col-md-5">-->
    <!--<button type="submit" class="btn btn-primary mb-2">Check if available</button>-->
    <!--</div>-->
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <input type="password" class="form-control mat-body-1" placeholder="Password" name="registerPassword" ngModel required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control mat-body-1" placeholder="First Name" name="registerFirstName" ngModel required>
    </div>
    <div class="form-group col-md-6">
      <input type="text" class="form-control mat-body-1"placeholder="Last Name" name="registerLastName" ngModel required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control mat-body-1" placeholder="Address" name="registerAddress" ngModel required>
    </div>
    <div class="form-group col-md-6">
      <label>
        <input type="date" class="form-control mat-body-1" name="registerDOB" ngModel required>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary mat-body-1" style="width: 100%">Create new account</button>
</form>