<app-manger-menu></app-manger-menu>
  <div class="content">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pie-tab" data-toggle="tab" href="#pie" role="tab" aria-controls="pie" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pie" role="tabpanel" aria-labelledby="pie-tab">
        <google-chart [data]="pieChart"></google-chart>
    </div>
    <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
      <google-chart [data]="mapChart"></google-chart>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>
