<div  style="padding-bottom: 5%;">
  <div class="container" style="position:center;padding-top: 5%">
    <div class="row">
      <mat-card style="width: 100%;padding-bottom: 50%;">
        <div style="padding: 5%;">
            <span class="mat-headline">Last Watches:</span>
          <div style="padding: 5%;">

              <mat-grid-list *ngFor="let video of videos" cols="2" rowHeight="2:1" >
                  <mat-grid-tile>{{ video.reference }}</mat-grid-tile>
              </mat-grid-list>

          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
