.img-size{
    height: 130px;
    width: 150px;
    margin-left: 30px;
}

.card-padding{
    padding-top:10px;
    padding-bottom:10px;
}

.card-button{
    cursor: pointer;
}
.jumbotron08{
    padding-bottom: 20%;
}

.green-bg{
    background-color: rgba(165, 180, 57, 0.5);
}
.jumbotron05 {
    background-color: rgba(255,255,255,0.5);
}
.jumbotron06 {
    background-color: rgba(255,255,255,0.6);
}
.jumbotron07 {
    background-color: rgba(255,255,255,0.7);
}
.jumbotron08{
    background-color: rgba(255,255,255,0.8);
}
.jumbotron09 {
    background-color: rgba(255,255,255,0.9);
}

.add-btn{
    width:4em;
    height: 4em;
    font-size:1.5em;
    background-color: #a5b439;
}



.user-item {
    border-top: 1px double white;
    border-bottom: 1px double white;
    padding-top: 10px;
    outline: none;
    cursor: pointer;
    background: unset;
    border: none;
    text-align: center;
    color: #646064;

}
.user-item:hover {
    color: #000000;
}

.user-item-active{
    color: #43a047;
}

.card:hover{
    cursor: pointer;
    border-color: #A5B439;
}

.add{
    background-color: transparent;
    color:lightgrey;
}
.add:hover{
    color: #00a5ec;
    border-color: #00a5ec;
}

.font{
    font-size:5em;
}