.img-size{
    height: 150px;
    width: 170px;
}

.card-padding{
    padding-top:10px;
    padding-bottom:10px;
}

.card-button{
    cursor: pointer;
}

.green-bg{
    background-color: rgba(165, 180, 57, 0.5);
}


.jumbotron05 {
    background-color: rgba(255,255,255,0.5);
}
.jumbotron06 {
    background-color: rgba(255,255,255,0.6);
}
.jumbotron07 {
    background-color: rgba(255,255,255,0.7);
}
.jumbotron08{
    background-color: rgba(255,255,255,0.8);
}
.jumbotron09 {
    background-color: rgba(255,255,255,0.9);
}