.login-btn-color{
    background-color: #4189c9;
    color:white;
}
.logged-btn-color{
    background-color: #a5b439;
    color:white;
}

.outlet-btn{
    width: 100%;
}

.cbBtn {
    margin-left: 10px;
    background-color: brown;
}
.cbBtn-right {
    margin-right: 10px;
    margin-top:6px;
    background-color: rgba(165, 42, 42, 0);
    color:black;
}

.search-btn{
    font-size:2em;
    color:darkgrey;
}


.search-btn:hover{
    color:black;
}