<div class="jumbotron">
  <div class="mat-title" align="center"> College of Management - Infi 3 - Episode 4</div>
  <div class="video">
    Video comes here
  </div>
  <mat-card>
    <div class="row mat-title mat-h3" align="center">
      <div class="col-4">Stars: 5/5 (TEST)</div>
      <div class="col-4">Views: 233 (TEST)</div>
      <div class="col-4">Episode: 5/12 (TEST)</div>
    </div>
  </mat-card>
  <mat-card>
  <div class="comments-block">
    <div class="mat-title" align="center"> Write a Comment...</div>

    <app-write-comment [videoId]="'5c5c4c9e5a27462240e795ec'"></app-write-comment>
    <app-list-comments></app-list-comments>

  </div>
  </mat-card>

  <div class="rating-container">
    <ngb-rating [(rate)]="currentRate" class="noOutline">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3" (click)="onRatingClicked(index)">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>



  <app-recommended-videos></app-recommended-videos>
</div>