<!-- Modal -->
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div style="padding-left: 7px;padding-right: 7px;padding-bottom: 7px">

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-selected="true">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#register" role="tab" aria-controls="profile" aria-selected="false">Create new account!</a>
        </li>
      </ul>


      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="home-tab">
          <div align="center">
            <br>
            <h5>Continue via</h5>
            <button type="submit" style="margin:0px 10px 0px 0px;" class="btn btn-default bg-white" name="provider" value="Google" title="Log in using your Google account"><img src="https://png.icons8.com/color/1600/google-logo.png" style="height:50px; width:50px;" id="loginbtn" name="provider" value="Google" title="Log in using your Google account"></button>
            <button type="submit" class="btn btn-default bg-white" name="provider" value="Google" title="Log in using your Google account"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" style="height:50px; width:50px;" name="provider" value="Google" title="Log in using your Google account"></button>
            <hr>
          </div>
          <div align="center"><h5>Login to your account</h5></div>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="login-email"placeholder="enter username/email address">
              <small class="form-text text-muted">example : username@email.com</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="login-password" placeholder="enter password">
              <small id="" class="form-text text-muted">never share your password with others.</small>
            </div>
            <div class="row">
              <div class="col sm-12">
                <button type="submit" class="btn btn-primary" style="width: 100%">Login</button>
              </div>
            </div>
          </form>
        </div>




        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="profile-tab">
          <br>
          <div align="center"><h5>Create New User</h5></div>
          <br>
          <form>
            <div class="form-row">
              <div class="form-group col-md-7">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary mb-2">Check if available </button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="inputAddress" placeholder="Address">
              </div>
              <div class="form-group col-md-6">
                <input type="date" class="form-control" id="inputDate" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="width: 100%">Register</button>
            </div>
          </form>


      </div>



    </div>
  </div>
</div>
</div>
