<mat-accordion multi="true" *ngIf="viewMessages.length > 0">
  <!--Comment-->
  <mat-expansion-panel *ngFor="let msg of viewMessages">
    <mat-expansion-panel-header>
      <span *ngIf="isInbox"> From: {{ msg.from }} </span>
      <span *ngIf="!isInbox"> To: {{ msg.to }} </span>
      <span>, {{msg.title}}</span>
    </mat-expansion-panel-header>
    {{msg.message}}
    <button *ngIf="isInbox" (click)="entitiesService.sendPm(msg.from)"> הגב </button>
  </mat-expansion-panel>
  <!--Comment end-->
</mat-accordion>
<mat-paginator style="box-shadow: 0 8px 6px -6px #4189c9;" [length]="messages.length"
               [pageSize]="pageSize"
               (page)="getPaginatorData($event)">
</mat-paginator>
