<div class="messages-container jumbotron">
    <span class="mat-headline">Messages</span>
    <div class="row" *ngIf="isLoaded">
        <div align="center" class="col-sm-6">
            <span class="mat-title">Inbox</span>
            <app-message-list [isInbox]="true" [messages]="inboxMessages"></app-message-list>
        </div>
        <div align="center" class="col-sm-6">
            <span class="mat-title">Outbox</span>
            <app-message-list [isInbox]="true" [messages]="outboxMessages"></app-message-list>
        </div>
    </div>
    <app-post-message></app-post-message>
</div>