<div class="manger-menu">
  <nav class="nav">
    <a routerLink="/admin/stats"  routerLinkActive="active-link" class="nav-link active">Statistics</a>
    <a routerLink="/admin/users"  routerLinkActive="active-link" class="nav-link active">Users</a>
    <a routerLink="/admin/institutions" routerLinkActive="active-link" class="nav-link active">Institutions</a>
    <a routerLink="/admin/schools"  routerLinkActive="active-link" class="nav-link active">Schools</a>
    <a routerLink="/admin/subjects"  routerLinkActive="active-link" class="nav-link active">Subjects</a>
    <a routerLink="/admin/lectures"  routerLinkActive="active-link" class="nav-link active">Lectures</a>
    <a routerLink="/admin/videos"  routerLinkActive="active-link" class="nav-link active">Videos</a>
    <a class="nav-link disabled">Link</a>
    <a class="nav-link disabled" >Disabled</a>
  </nav>
</div>
